<div class="wrapper">
        <div>
            <a href="/notes">Create new note</a>
            <a class="right" href="/?style=black">Style switcher</a>
        </div>
        <div>
            <a href="/?order=cdate">By creating date</a>
            <a href="/?order=fdate">By deadline</a>
            <a href="/?order=importance">By importance</a>
            <a class="right" href="/?filter=true">Hide finished</a>
        </div>
</div>