<button type="button">Create new note</button>
<button type="button">Style switcher</button>
<button type="button">By creating date</button>
<button type="button">By deadline</button>
<button type="button">By importance</button>
<button type="button">Hide finished notes</button>

<div>
    <label>
        <input type="checkbox" value="finished">
        Finished
    </label>
    <label>-[DueIn]-</label>
    <label>-Note Title-</label>
    <label>-****-</label>
    <textarea rows="3">
        -Note Desc-
    </textarea>
    <button type="button">Edit</button>
</div>
