<div class="wrapper">
        <div>
            <a href="/notes">Create new note</a>
            <a class="right" href="/?style=black">Style switcher</a>
        </div>
        <div>
            <a href="/?order=cdate">By creating date</a>
            <a href="/?order=fdate">By deadline</a>
            <a href="/?order=importance">By importance</a>
            <a class="right" href="/?filter=true">Hide finished</a>
        </div>

    {{#each notes}}
        <div>
            <div class="inner-wrapper">
                <p>in one month</p>
                <p>{{title}}</p>
                {{#if prio}}<img src="/media/prio{{prio}}.png">{{/if}}
            </div>
            <div class="inner-wrapper">
                <input type="checkbox" name="state" id="state" {{#if finish}}checked{{/if}}><label for="state">Finished</label>
                <textarea readonly>{{desc}}</textarea>
                <a href="/notes/"{{id}}>Edit</a>
            </div>
        </div>
    {{/each}}
</div>