<div class="wrapper">
        <div>
            <a href="/notes">Create new note</a>
            <a class="right" href="/?style=black">Style switcher</a>
        </div>
        <div>
            <a href="/?order=cdate">By creating date</a>
            <a href="/?order=fdate">By deadline</a>
            <a href="/?order=importance">By importance</a>
            <a class="right" href="/?filter=true">Hide finished</a>
        </div>

    <div>
        <p>in one month</p><p>Title</p>
        <p>Prio</p>
        <input type="checkbox" name="state" id="state"><label for="state">Finished</label>
        <textarea readonly>Description</textarea>
        <a href="/notes/id">Edit</a>
    </div>
</div>