<div class="flex-index">
    <div class="linkTop">
        <a href="/">Create new note</a>
        <a href="/" class="showRight">Style switcher</a>
    </div>
    <div class="linkBottom">
        <a href="/">By creating date</a>
        <a href="/">By deadline</a>
        <a href="/">By importance</a>
        <div class="showRight"><a href="/">Hide finished notes</a></div>
    </div>

    <div>
        <label>
            <input type="checkbox" value="finished">
            Finished
        </label>
        <label>-[DueIn]-</label>
        <label>-Note Title-</label>
        <label>-****-</label>
        <textarea rows="3">
            -Note Desc-
        </textarea>
        <button type="button">Edit</button>
    </div>
</div>