<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{#if title}}{{title}}{{else}}Note app{{/if}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      {{#compare filter.style '==' "black"}}<link rel='stylesheet' href='/stylesheets/style-black.css'/>{{/compare}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
