<h1>New ToDo</h1>
<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text">
    </div>

    <div class="form-group">
        <label for="desc">Description</label>
        <textarea rows="2" id="desc"></textarea>
    </div>

    <div class="form-group">
        <label for="importance">Importance</label>
        <input id="importance" type="text">
    </div>


    <div class="form-group">
        <label for="dueDate">Due date</label>
        <input id="dueDate" type="date">
    </div>


    <div class="form-group">
        <label for="finished">Finished</label>
        <input type="checkbox" id="finished">
    </div>


    <a href="#">Send</a>
    <a href="#">Cancel</a>
</form>