<h1>New ToDo</h1>
<form>
    <label for="title">
        Title <input name="title">
    </label>
    <label for="desc">
        Description <textarea rows="2"></textarea>
    </label>
    <label for="importance">
        Importance <input name="importance">
    </label>
    <label for="dueDate">
        Due date <input name="dueDate" type="date">
    </label>
    <label>
        <input type="checkbox" name="finished" value="finished">
        Finished
    </label>
    <button type="button">Send</button>
    <button type="button">Cancel</button>
</form>