/*Global*/
body {
    background-color: black;
    color: white;
}
textarea, input{
    background-color: blue;
    color: white;
    border: none;
}
/*End of Global*/
/*Button Styles*/
a, button {
    color: white;
    background-color: blue;
}
a:hover, button:hover {
    background-color: lightblue;
}
/*End of Button Styles*/
