/*Global*/
body {
    padding: 2em;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*End of Global*/
/*Button Styles*/
a, button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 0.5em;
}
a:hover, button:hover {
    background-color: #e7e7e7;
}
/*End of Button Styles*/
/*Note Editor*/
.container {
    width: 100%;
    margin: 0 auto;
}
.flex-outer div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0.5em 0 0.5em 0;
}
.flex-outer > div:not(:last-child) {
    margin-bottom: 0.5em;
}
.flex-outer div label{
    font-weight: bold;
    flex: 1 220px;
    max-width: 220px;
}
.flex-outer input:not([type="checkbox"]), .flex-outer textarea {
    flex: 1 80%;
    padding: 0.5em;
}
.flex-outer .empty{
    flex: 0 10 220px;
}
input[type="checkbox"] {
    width: 1em;
}
input[type="checkbox"] + label{
    padding-left: 0.5em;
}
.flex-outer button, .flex-outer a, .flex-index button, .flex-index a{
    margin: 0.5em 0.5em 0 0;
    flex: 1 180px;
    max-width: 180px;
}
.leftspace{
    margin-left: 220px;
}
@media (max-width: 78em) {
    .leftspace{
        margin-left: 0px;
    }
}

.flex-index div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0.5em 0 0.5em 0;
}
/*End of Note Editor*/
/*Note Overview*/
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.wrapper div{
    display: flex;
    flex: 1 100%;
}
.wrapper div a{
    margin: 0.5em 0.5em 0 0;
    flex: 1 180px;
    max-width: 180px;
}

.right{

}
div.inner-wrapper{
    flex: 1 100%;
}
div.inner-wrapper p{
    flex: 0 0 200px;
}
div.inner-wrapper textarea{
    flex: 1 80%;
}
/*End of Note Overview*/